<h1>Add a politician</h1>

<form validate ng-submit="ctrl.addPolitician()">
  <label for="name">Name</label>
  <input type="text" ng-model="ctrl.politician.name" required>

  <label for="position">Position</label>
  <input type="text" ng-model="ctrl.politician.position" required>

  <label for="homestate">Home State</label>
  <input type="text" ng-model="ctrl.politician.homestate" required>

  <input type="submit" value="Add Politician">
</form>


<form>
  <select>
    <option value="">-- select state --</option>
    <option ng-repeat="state in ctrl.states | orderBy: 'name'">{{state.name}}</option>
  </select>
</form>