<h1>Politicians</h1>

  Search by name: <input type="text" ng-model="politicianName"/>
  Search by bio: <select ng-model="politicianBio">
                   <option value=""></option>
                   <option ng-repeat="politician in ctrl.politicians">{{politician.bio}}</option>
                 </select>
  

<div ng-repeat="politician in ctrl.politicians">
  <h3>{{politician.name}}</h3>
  <p>{{politician.bio}}</p>
  <a href="#" ui-sref="home.politician({id: politician.id})">View Politician</a>
  <a href="#" ui-sref="home.edit({id: politician.id})">Edit Politician</a>
  <a href ng-click="ctrl.deletePolitician(politician)">Delete Politician</a>
</div>