<h1>Politicians</h1>

  Search: <input type="text" placeholder="enter name here" ng-model="searchText.name"/>
  Search: <select ng-model="searchText.position">
                   <option value="">-- select position --</option>
                   <option ng-repeat="politician in ctrl.politicians">{{politician.position}}</option>
                 </select>
  

<div ng-repeat="politician in ctrl.politicians | filter: searchText | orderBy: ['-popularity', 'position','name']">
  <header>
    <h3>{{politician.name}}, {{politician.position}}</h3>
    <span><u>Popularity: {{politician.popularity}}</u></span>
  </header>
  <p><a href="#" ng-click="ctrl.visitState(politician)">{{politician.homestate}}</a></p><br>

  <a href ng-click="ctrl.upvotePolitician(politician)">Upvote Politician</a>
  <a href="#" ui-sref="home.politician({id: politician.id})">View Politician</a>
  <a href="#" ui-sref="home.edit({id: politician.id})">Edit Politician</a>
  <a href ng-click="ctrl.deletePolitician(politician)">Delete Politician</a>
</div> 